/* Generated classes for django-media-bundler sprites.  Don't edit! */

.customer_logo_sprites {
     background-image: url('/static/images/logos/customers/small/customer_logo_sprites.png');
}

.customer_logo_sprites-mit-sloan-png {
     width: 48px;
     background-position: 0px 0px;
     height: 56px;
}

.customer_logo_sprites-sabre-png {
     width: 100px;
     background-position: -48px 0px;
     height: 53px;
}

.customer_logo_sprites-harvard-png {
     width: 48px;
     background-position: -148px 0px;
     height: 48px;
}

.customer_logo_sprites-hp-png {
     width: 48px;
     background-position: 0px -56px;
     height: 48px;
}

.customer_logo_sprites-zeiss-png {
     width: 48px;
     background-position: -48px -56px;
     height: 48px;
}

.customer_logo_sprites-wanadoo-png {
     width: 75px;
     background-position: -96px -56px;
     height: 45px;
}

.customer_logo_sprites-nasa-png {
     width: 48px;
     background-position: -171px -56px;
     height: 41px;
}

.customer_logo_sprites-lockheedmartin-png {
     width: 200px;
     background-position: 0px -104px;
     height: 34px;
}

.customer_logo_sprites-sky-png {
     width: 48px;
     background-position: 0px -138px;
     height: 29px;
}

.customer_logo_sprites-xerox-png {
     width: 100px;
     background-position: -48px -138px;
     height: 28px;
}

.customer_logo_sprites-verizon-png {
     width: 48px;
     background-position: -148px -138px;
     height: 27px;
}

.customer_logo_sprites-hitachi-png {
     width: 48px;
     background-position: 0px -167px;
     height: 26px;
}

.customer_logo_sprites-cisco-png {
     width: 48px;
     background-position: -48px -167px;
     height: 25px;
}

.customer_logo_sprites-apc-schneider-electric-png {
     width: 48px;
     background-position: -96px -167px;
     height: 24px;
}

.customer_logo_sprites-ibm-png {
     width: 48px;
     background-position: -144px -167px;
     height: 19px;
}

.customer_logo_sprites-alcatellucent-png {
     width: 100px;
     background-position: 0px -193px;
     height: 21px;
}

.customer_logo_sprites-ericsson-png {
     width: 80px;
     background-position: -100px -193px;
     height: 18px;
}

.customer_logo_sprites-fedex-png {
     width: 48px;
     background-position: 0px -214px;
     height: 18px;
}

.customer_logo_sprites-fujitsu-png {
     width: 48px;
     background-position: -48px -214px;
     height: 18px;
}

.customer_logo_sprites-intuit-png {
     width: 48px;
     background-position: -96px -214px;
     height: 14px;
}

.customer_logo_sprites-siemens-png {
     width: 75px;
     background-position: -144px -214px;
     height: 12px;
}

.customer_logo_sprites-yahoo-png {
     width: 48px;
     background-position: 0px -232px;
     height: 9px;
}
