/* -------------------------------------------------------------- 
   
   GoodCrypto custom css rules.
   
   Part derived from Metamorphosis Design
   http://www.metamorphozis.com
   Released for free under a Creative Commons Attribution 2.5 License
   
   CSS rules:
      * styling links order: link, visited, hover, active
      * padding order: top, right, bottom, left

   Last modified: 2015-04-30
   
-------------------------------------------------------------- */

* {
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif, Arial, Geneva;
	font-size: 14px;
	line-height: 16px;
	color: black;
	background-color: white;
}

p {
	padding: 5px 0px 10px 0px;
}

ul, ol {
	margin: 0px 0px 0px 2em;
}
	
img {
    border: 0px;
}

a img {
    border:none;
    border-style:none;
    vertical-align:text-bottom;
}

#largeImage {
    position: absolute;
    /*
    padding: 8px;
    background-color: #e3e3e3;
    border: 1px solid #bfbfbf;
    */
}
	
#largeImage a:hover {
}

/* Center everything in the html element. */
.center {
    text-align: center
}

/* Right align everything in the html element. */
.right {
    text-align: right
}

/* Right align with a small margin. */
.right_margin {
    margin-right: 1em;
    text-align: right
}

/* No margin. */
.nomargin {
    margin:0;
}

/* Include a border. */
.bordered {
    border: 1px solid;
    padding: 2px;
}

/* Wide leading for lists, space between list items. */
.leading li {
    margin-bottom:1em;
}

/* Inline image. An image that appears in the middle of a text line.
   
   Email address. Assumed to be an inline image, to stop email address harvesters. */
img.inline,
img.mailaddress {
    border:none;
    margin:0;
    float:none;
    vertical-align:middle
}

/* Highlight a topic */
.highlight {
    padding-top: 20px;
    vertical-align: middle;
    text-align: left;
    height: 20px;
}

/* FAQ answer */
.answer {
    margin-top: 1em;
    font-weight: normal;
    padding: 10px 0px 10px 20px;
}

/* FAQ return to questions */
.return {
    margin-bottom: 2em;
    padding: 10px 0px 0px 50px;
}

/* Quote */
.quote {
    margin-top: 2em;
}

/* Drop cap for the first letter of text. 
   This is called a drop cap even when it doesn't drop. */
.dropcap:first-letter {
    font-size: 200%;
}

/* Double the size of the inline text */
.double {
    font-size: 200%;
}

/* Make the inline text very large */
.verylarge {
    font-size: 300%;
}

/* Headline of a page.*/
.headline {
    font-weight: 700
}

/* Simple indentation. No semantics. Just formating.

   There no obvious a way to use blueprint's grid inside a 
   dialog class. This works. */
.indent {
    text-indent: 1.5em
}
.indent-2 {
    text-indent: 3em
}
.indent-3 {
    text-indent: 4.5em
}
.indent-4 {
    text-indent: 6em
}
.indent-5 {
    text-indent: 7.5em
}
.indent-6 {
    text-indent: 9em
}

#topbar { 
    top: 0%;
    left: 0%; 
    right: 100%; 
    z-index: 0; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0px;
    background: black; 
    color: white;
}
table#topbar {
    margin-bottom: 0px;
}

.errorlist {
    list-style: none;
    font-weight:700;
}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-style:solid;border-color:#FBC2C4;}

.errornote {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    background: #ffc 5px .3em no-repeat;
}

.number {
    font-family:"Georgia";
}

.prices {
}

.prices h2 { 
    font-size:1.7em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.prices h3 {
    margin-top:0; 
}

/* gradients */
#gradient_dark {
    /*
        From CSS gradients for all web browsers, without using images
            http://robertnyman.com/2010/02/15/css-gradients-for-all-web-browsers-without-using-images/
            
        Colors are RGB in hex. For IE a color starts with FF, then 6 RGB 
        hex digits. 3 RGB hex digits for all other browsers, or 0 (zero) for black.
        
        E.g.:
            white              #fff or #ffffffff
            blue               #00f or #ff0000ff
            black              #000 or #ff000000
            dark gray          #333 or #ff303030
            gray               #888 or #ff808080
            light gray         #ccc or #ffc0c0c0
            very light gray    #eee or #ffe0e0e0
    */
    
	height: 45px;
	margin: 0px;
	padding: 0px;
    
    color: #fff;
    /* For older browsers */
    background-color: #000;
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #000, #333);
    /* For Internet Explorer 5.5 - 7 */                   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF303030);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FF303030)";
}
#gradient_medium {
    color: #000;
    /* padding around element */
    padding: 10px;
    /* For older browsers */
    background-color: #eee;
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#ccc));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #333, #ccc);
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF303030, endColorstr=#FFC0C0C0);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF303030, endColorstr=#FFC0C0C0)";
}

#gradient_light {
    color: #000;
    /* padding around element */
    padding: 10px;
    /* For older browsers */
    background-color: #eee;
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #ccc, #fff);
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFC0C0C0, endColorstr=#FFFFFFFF);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFC0C0C0, endColorstr=#FFFFFFFF)";
}

.navbar {
	height: 40px;
	margin: 0px;
	padding: 0px;
}

#userlinks {
	font-size: 12px;
    color: white;
    background-color: black;
	float: right;
	padding-top: 0px;
	padding-right: 20px;
}

/* grappelli controls user-tools
#user-tools {
    color: white;
    background-color: black;
	font-size: 12px;
	float: right;
	padding-top: 0px;
	padding-right: 20px;
}
#user-tools a {
    color: white;
    background-color: black;
    vertical-align: middle;
}
*/


#menu_items {
	display: inline;
	float: left;
	font-weight: bold;
	text-align:center;
	height: 40px;
}

#menu_items a {
	display: inline;
	float: left;
	font-weight: bold;
	text-align:center;
	height: 40px;
	margin: 2px;
	padding: 10px 15px 10px 15px;
	
	font-size: 16px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
}

/* we need a class for the buttons to add some elements (why? what's wrong with #buttons?) */
.basic_button {
}

#menu_items .basic_button:hover {
	text-decoration: none;
	color: #ffffff;
	background: url(/static/images/header/btn_hov.png) repeat-x;
    /*background: url(data:image/png;base64,'iVBORw0KGgoAAAANSUhEUgAAAAQAAAAoCAIAAABW/cxkAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wEBQ4mFc/rasMAAABSSURBVCjPtZBLCsBACEPH0vufxsMJ/roqncCkTBd194gkGlHVcc8xpgE4u/szVNVaQevMfCAiCHADWDMzcg7kuDtRZsCczX9oBy/1isiG9Y9wAW/rQ/4fYfFhAAAAAElFTkSuQmCC')  repeat-x;*/
}
	
a {
	text-decoration: none;}
a:hover {
	text-decoration: underline;}

/* image left */
.img_l {	float:left;
		margin: 0px 15px 0px 0px;
}

/* image right */
.img_r {	float: right;
		margin: 0px 0px 0px 15px;
}
    
h1 {
	font-size:24px;
	font-weight: 100;
	/*color: #303030;*/
	text-align: left;
	padding: 1em 0em 0.5em 0em;
	line-height: 26px;
}

.a_h1 {
	font-size:24px;
	font-weight: 100;
	/*color: #303030;*/
	text-align: left;
	padding: 0px 0px 10px 0px;
	line-height: 26px;
}
.a_h1:hover { text-decoration:underline;
			/*color: #303030;*/}

h2 {
	color: #000000;
	font-weight:  100;
	font-size: 20px;
	text-align: left;
	padding: 8px 0px 8px 0px;
}

h3 {
	/* color: orangered;
	background-color: black;
	font-weight:  700; */
	font-size: 18px;
	text-align: left;
	padding: 1em 0px 1em 0px; /* 0px 0px 0px 8px; */
	margin-top: 1em;
}

.a_h3 {
	font-size:18px;
	font-weight: 700;
	/*color: #303030;*/
	text-align: left;
	padding: 0px 0px 10px 0px;
	line-height: 20px;
}
.a_h3:hover { text-decoration:underline;
			/*color: #303030;*/}
			
/*
scroll styles here
*/

.item { width: 994px; height:272px;}
.item img {float:left;}
.item h2 { border:none; margin-bottom:15px;}

.scrollable { position:relative; overflow:hidden; width: 994px; height: 272px;} 
.scrollable .items { width:20000em; position:absolute;}
.scrollable .items div { float:left;} 
.scrollable .items .item { overflow:hidden;}
.scrollable .items .item p { line-height:16px;}
.navi { width:auto; height:20px; float:right; margin:5px 0; padding-right: 20px;} 
.navi a { width: 13px; cursor:pointer; height: 14px; float:left; margin:0 0 0 3px; background:url(/static/images/general/circl.png) no-repeat scroll right top; display:block; font-size:1px;} 
.navi a:hover, .navi a.active { background-position:left top; margin:0 0 0 3px;  background:url(/static/images/general/circl_hov.png) no-repeat scroll right top}


/*-------------
search styles
-------------*/

#search {
	font-size: 16px;
	font-weight: 100;
	text-decoration: none;
	color: #ffffff;
	height: 40px;
	margin: 10px 0px 0px 0px;
    display: inline;
    vertical-align: middle;
}

#searchForm {
    display: inline;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
}

#searchForm fieldset {
    margin: 0px 15px 0px 15px;
    padding: 10px 0px 0px 0px;
}

#searchInput {
    background:#ffffff;
    display: inline;
    padding: 0px 0px 0px 0px;
	overflow:auto;
    float:right;
    /* round the corners of the input box in modern browsers */
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.08);
    border-radius:20px;
    border:1px solid #c6d2db;
    border-top:1px solid #b4c1cb;
	text-align:center;
    vertical-align: middle;
}

#searchSubmit {
    border: 0;
    cursor: pointer;
	text-decoration: none;
	text-align: center;
	color: white;
	margin-top: 0px;
	margin-left: 0px;
	padding: 0px;
	overflow: hidden;
    float: right;
	z-index: 1;
    vertical-align: bottom;
}

/* form input styles */

div.input-wide {
    width:300px;
    padding:5px 5px 5px 10px;
    border-radius:20px;
    border:1px solid #c6d2db;
    border-top:1px solid #b4c1cb;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.08);
    float:left;
    background:#ffffff;
	overflow: auto;
}

div.input-comment {
    width:800px;
    padding:5px 5px 5px 10px;
    border-radius:20px;
    border:1px solid #c6d2db;
    border-top:1px solid #b4c1cb;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.08);
    float:left;
    background:#ffffff;
	overflow: auto;
}

div.option-list li {
    list-style:none;
}

.ui-state-hover a, .ui-state-hover a:hover { text-decoration: none; }

#crossslide {
  width: 600px;
  height: 200px;
  /* default set to 'block' in javascript so we skip the slideshow elements if no javascript
  display: none;
  */
}
